@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');

html{
  scroll-behavior: smooth;
}

*{
  font-family: "Noto Sans", sans-serif;
}

:root{
  --main-color: #243aff;
  --sub-color: #d4d4d4;
  --break-point: 960px;
}

/* フッター */
footer{
  width: 100%;
  padding-top: 100px;
  padding-bottom: 30px;
  color: #fff;
}

footer ul{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer li{
  list-style-type: none;
  line-height: 3rem;
  font-size: 1.5rem;
}

footer small{
  margin-top: 200px;
  display: block;
  text-align: center;
}